<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>label</key>
    <string>com.katylavallee.wintracker</string>
    <key>ProgramArguments</key>
    <array>
        <string>~/Library/Application Support/com.katylavallee.wintracker/wintracker.py</string>
        <string>1</string>
        <string>1</string>
    </array>
    <key>StandardErrorPath</key>
    <string>~/Library/Logs/com.katylavallee.wintracker_err.log</string>
    <key>StandardOutPath</key>
    <string>~/Library/Logs/com.katylavallee.wintracker.log</string>
    <key>StartInterval</key>
    <integer>3</integer>
</plist>
