<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>label</key>
    <string>com.katylavallee.wintrackerLogRotate</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/{{USER}}/Library/Application Support/com.katylavallee.wintracker/logrotate.sh</string>
    </array>
    <key>Environment Variables</key>
    <dict>
      <key>PATH</key>
      <string>{{PATH}}</string>
      <key>PYTHONPATH</key>
      <string>{{PYTHONPATH}}</string>
    </dict>
    <key>Nice</key>
    <integer>1</integer>
    <key>StartCalendarInterval</key>
    <dict>  
      <key>Hour</key>
      <integer>00</integer>
      <key>Minute</key>
      <integer>00</integer>
    </dict>
  </dict>
</plist>
